/* Top */

.top{
    margin-top: 6rem;
  }
  
  #img-top{
    width: 100%;
    position: absolute;
    /* top: 40%; */
    left: 73%;
    /* margin-top: 2em; */
    min-width: 250px;
  }
  
  #title {
    font-weight: 900;
    font-size: 8vw;
  }
  
  @media(max-width: 575px){
    .pharagraph-top{
      margin-top: 6em;
      margin-left: -15em;
    }
  }
  
  .socmed-rows{
    position: relative;
    top: 10rem;
  }
  
  #Text-Socmed{
    height: 30vh;
  }
  
  #img-Twitter, #img-Insta{
    margin-left: -0.2em;
    /* margin-top: 3em; */
  }
  
  
  @media(max-width: 767px){
    #img-top{
        max-width: 80%;
        position: relative;
        left: 10%;
        /* left: initial; */
        top: -10%;
    }
    #title{
        position: relative;
        left: 1em;
    }
  }
  
  @media(max-width: 400px){
    #img-top{
        min-width: 200px;
    }
  }
  
  #text-KBMTI-Full, #text-KBMTI-Tranparent{
    max-width: 50%;
    height: auto;
    position: relative;
  }
  
  #text-KBMTI-Full{
    top: 3em;
  }
  
  #text-KBMTI-Tranparent{
    top: -3em;
  }
  
  .phar{
    margin-top: 6rem;
  }
  
  
  @media (max-width: 991px){
    .phar{
        margin-top: 3rem;
    }
  }
  
  @media (max-width: 767px){
    .phar{
        margin-top: 1rem;
    }
    .middle{
        margin-top: 10%;
    }
  }