.footer {
    &__footer {
        background: #A4B3B6 !important;
    }
    &__h5 {
        color: #2A1B3C !important;
    }
    &__pharagraphs {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
